* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Menlo", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Consolas", "Monaco";
}
.screen {
  width: 320px;
  height: 480px;
  position: absolute;
  left: 10px;
  top: 60px;
  background-color: #fff;
}
.phone {
  width: 340px;
  height: 600px;
  position: relative;
  background-color: #000;
  border-radius: 20px;
}
.info {
  position: fixed;
  top: 0;
  left: 0;
}
