#fonts = 'Menlo',
"DejaVu Sans Mono",
"Bitstream Vera Sans Mono",
"Consolas",
"Monaco",
* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}
.screen {
  width: 320px;
  height: 480px;
  position: absolute;
  left: 10px;
  top: 60px;
  background-color: #fff;
}
.phone {
  width: 340px;
  height: 600px;
  position: relative;
  background-color: #000;
  border-radius: 20px;
}
.info {
  position: fixed;
  top: 0;
  left: 0;
}
.header {
  height: 50px;
  align: left;
}
.header img {
  height: 50px;
}
.header-selected {
  background-color: #008000;
}
.clear {
  clear: both;
}
.form-toggler {
  position: relative;
}
.form-togglee {
  position: absolute;
  top: 0;
  left: 0;
}
