* {
  margin: 0;
  padding: 0;
}

.phone {

}

.second-bar {
  padding: 5px;
  background-color: #e6e6e6;
}

.header {
  width: 320px;
}

.header-right {
  width: 160px;
  text-align: right;
  padding-top: 8px;
  padding-right: 8px;
}
.header-img {
  height: 50px;
}
.promo img {
  width: 320px;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.content {
  width: 320px;
}

body, input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}

#phone {
  width: 200px;
}

.home a {
  float: left;
  display: block;
  width: 106px;
  height: 106px;
}

.title {
  font-size: 1.4em;
  font-weight: bold;
}

.description {
  padding-top: 5px;
}

.item {
  background: -webkit-linear-gradient(90deg,black  0px,white  10px); 
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #D0D0D0;
}

.left {
  float: left;
}

.right {
  float: right;
}

