* {
  margin: 0;
  padding: 0;
}

.phone {

}


.second-bar {
  padding: 5px;
}

.header {
  width: 320px;
}

.header-right {
  width: 160px;
  text-align: right;
  padding-top: 8px;
  padding-right: 8px;
}
.header-img {
  height: 50px;
}
.promo img {
  width: 320px;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.content {
  overflow-x: hidden;
  width: 8000px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform:translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
}

body, input[type="text"], input[type="tel"] {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  -webkit-transform:translate3d(0,0,0);
}

.tile {
  width: 320px;
  display: block; 
  float: left;
  -webkit-backface-visibility: hidden;
}

/*
html, body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}
 
.scrollable {
    -webkit-transform: translate3d(0,0,0);
}
 
.content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}
 
.page {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    color: #fff;
    -webkit-box-sizing: border-box;
    white-space: normal;
}
*/



.send {
  font-size: 1em;
}

#phone {
  width: 210px;
}


.title {
  font-size: 1em;
  font-weight: bold;
}

.description {
  font-size: 0.9em;
}

.headline {
  font-weight: bold;
  font-size: 1.2em;
}

.full-site {
  font-size: .7em;
}

.phone-bar {
  font-weight: normal;
  font-size: .9em !important;
}

.nav a {
  float: left;
  display: block;
  width: 106px;
  height: 106px;
}


.nav {
  font-size: .85em;
}

.nav-item {
  text-shadow: 2px 2px 3px #000;
  font-weight: bold;
  text-decoration: none;
  color: black;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.nav-item span {
 position: absolute;
 bottom: 0;
 width: 100%;
 text-align: center;
}

.paddinglr {
  padding-left: 5px;
  padding-right: 5px;
}

.paddingr {
  padding-right: 5px;
}

.promo img {
 vertical-align: bottom;
 opacity: 1;
 z-index: -1000;
}

.promo-wrapper {
  padding-top: 5px;
  padding-bottom: 5px;
}

.item {
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #D0D0D0;
  padding-left: 5px;
  padding-right: 5px;
}


.relative {
  position: relative;
}

.item .right .price {
  font-size: 0.9em;
  position: absolute;
  top: 0;
  right: 0;
}




.item .right {
  width: 240px;
}

.item .left {
  width: 60px;
}

.item .left img {
  max-width: 60px;
  border-radius: 5px;

}

.left {
  float: left;
}
.right {
  float: right;
}

.right {
  float: right;
}

